@media screen and (max-width: 991px) {
    .main {
        display: block;
    }
    .sidebar {
        width: 100%;
        padding-right: 0;
        display: flex;
        margin-bottom: 32px;
        .photo {
            margin-bottom: 0;
            margin-right: 24px;
        }
        .user-info {
            flex: 1;
        }
    }
    .content {
        width: 100%;
        padding-left: 0;
    }
}
@media screen and (max-width: 640px) {
    .sidebar {
        display: block;
        margin-bottom: 40px;
        .photo {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        .contact-list {
            margin-bottom: 24px;
        }
        .user-name {
            margin-bottom: 18px;
        }
    }
    .main .row {
        display: block;
    }
    .skills {
        margin-left: 0;
        margin-right: 0;
    }
    .skill-box {
        width: 100%;
        padding: 0;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}
