.sidebar {
    .photo {
        margin-bottom: 20px;
    }
}

.user-name {
    margin-bottom: 32px;
    h1 {
        font-size: 25px;
        margin-bottom: 3px;
    }
}

.contact-list {
    margin-bottom: 32px;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    svg {
        margin-right: 7px;
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
}
